{% extends "base.html.twig" %}
{% block title %}
	{% trans %}
	Réinitialisation de mot de passe
	{% endtrans %}
	| NETFLUX
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row h-50 w-100">

			<div class="col-md-6 mx-auto">
				<h1>Réinitialisation de mot de passe</h1>
				<hr>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<input type="submit" class="btn btn-warning btn-block w-100">
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
