{% extends "base.html.twig" %}
{% block title %}
	{% trans %}
	Nouveau Mot de passe
	{% endtrans %}
	| NETFLUX
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row h-50 w-100">

			<div class="col-md-6 mx-auto">

				<h1>{% trans %}Nouveau Mot de passe{% endtrans %}</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<input type="submit" value="{% trans %}Valider{% endtrans %}" class="btn btn-warning"/>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
