{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!

{% endblock %}

{% block body %}
	{% if app.user %}
		{% for genre in genres %}
			<div class="carousel-container">
				<div class="title">
					<h2>{{ genre.name }}</h2>
				</div>
				<div class="prev"></div>
				<div class="carousel-list">
					<ul class="slider-content">
						{% for video in genre.videos %}
							<li>
								<div>
									{{ video.title }}
									<br>
									{{video.category}}
								</div>
							</li>
						{% endfor %}
					</ul>
					<div class="next">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		{% include "components/_homeNotLogged.html.twig" %}
	{% endif %}
{% endblock %}
