{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!

{% endblock %}

{% block body %}

	{% if app.user %}
		<h1>test</h1>
	{% else %}
		{% include "components/_homeNotLogged.html.twig" %}
	{% endif %}


{% endblock %}
