{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!

{% endblock %}

{% block body %}

	{# {% if app.user %}
		<div class="carouselContainer">
			<div class="carouselSlider">
				<h2>Comédie</h2>
				<div class="carouselItems">
					{% for video in videos %}
						{% if video.genre.name == "Comédie" %}
							<div class="items">
								<div>
									<p>{{video.title}}</p>
									<img src="{{asset('uploads/pictures/')}}" alt="">
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="carouselBtn">
				<button class="prev-button">
					<i class="fa-solid fa-arrow-left fa-2xl"></i>
				</button>
				<button class="next-button">
					<i class="fa-solid fa-arrow-right fa-2xl"></i>
				</button>
			</div>
		</div>
	{% else %}
		{% include "components/_homeNotLogged.html.twig" %}
	{% endif %} #}


{% endblock %}
