{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">

			{% for item in videos %}
				<div class="col-md-3">
					<div class=" border-dark" >
                        <div class="card-header mx-2">
						<img src="{{asset('uploads/thumbnail/'~ item.thumbnail)}}" class="img-fluid " alt="{{item.title}}">
                        </div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
