{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
	<div style="display: flex; flex-direction: column">
		<h1>Bienvenue sur le tableau de bord personnalisé</h1>
		<a href="{{path('app_home')}}">Revenir à l'accueil</a>
	</div>
{% endblock %}