
}

.nav-link:hover {
  color: darkgrey !important;
}

body {
  background-color: black !important;
  color: white !important;
}

#accordion-header {
  background-color: darkgrey !important;
  color: black !important;
}
.accordion-item .accordion-header {
  background-color: darkgrey !important;
  color: black !important;
}
.accordion-body {
  background-color: white !important;
  color: black !important;
}

