{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!
{% endblock %}

{% block body %}
	{% for label,message in app.flashes %}
		<div class="alert alert-{{label}}">
			{{message[0]}}
		</div>
	{% endfor %}
	<div class="container w-25">
		{{form(registerForm)}}
		</div>
	{% endblock %}
