<header>
	<div class="netflixLogo">
		<a id="logo" href="{{path('app_home')}}"><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"></a>
	</div>
	<nav class="main-nav">
		<a href="{{path('app_home')}}">Accueil</a>
		<a href="#tvShows">Séries TV</a>
		<a href="#movies">Films</a>
		<a href="#">Ajouté récemment</a>
		<a href="#originals">Ma liste</a>
	</nav>
	<nav class="sub-nav">
		<a href="#">
			<i class="fas fa-search sub-nav-logo"></i>
		</a>
		<a href="#">
			<i class="fas fa-bell sub-nav-logo"></i>
		</a>
		<a href="#">Account</a>
	</nav>
</header>
